.THIS {
    margin-top: 4em;
}

.THIS .details {
    font-size: .85em;
    font-weight: bold;
    color: #a7aeb7;
}

.THIS .contract-data {
    font-size: 1.15em;
    color: #667da3;
}

.THIS .card-hr {
    margin-top: -.2em;
}

.THIS .my-checkbox {
    display: inline-block;
    float: left;
}

.THIS .slds-spinner_container {  
  	z-index: 10000;
 	position: fixed;   
}